<div class="size-fields" data-template="size-fields">
  <p>
    <%= f.label :name, "サイズ名" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :price, "価格" %>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :image, "参考画像（任意）" %>
    <%= f.file_field :image %>
  </p>

  <hr>
</div>