<h2>花の種類を登録</h2>

<%= form_with model: @flower_type, url: admin_flower_types_path, local: true, multipart: true, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :name, "花の種類の名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :image, "花の画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= link_to "メニュー一覧に戻る", admin_flower_types_path %>