<h2>花の種類を登録</h2>

<%= form_with model: @flower_type, local: true, multipart: true, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :name, "花の種類の名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :image, "画像をアップロード" %><br>
    <%= f.file_field :image %>
  </div>

  <h3>サイズ・価格の登録</h3>
  <%= f.fields_for :sizes do |size_form| %>
    <div>
      <%= size_form.label :name, "サイズ名（例：S/M/L）" %><br>
      <%= size_form.text_field :name %>
    </div>

    <div>
      <%= size_form.label :price, "価格（円）" %><br>
      <%= size_form.text_field :price %>
    </div>

    <div>
      <%= size_form.label :image, "見本画像（任意）" %><br>
      <%= size_form.file_field :image %>
    </div>
    <hr>
  <% end %>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>