<div id="receive-method-section" class="step-card" style="display: none;">
  <h2 class="step-title mb-3">4. 受け取り方法の選択</h2>
  <%= f.label :receive_method, "受け取り方法を選択してください", class: "form-label" %><br>
  <div class="d-flex gap-3 mt-2 mb-2">
    <div class="form-check form-check-inline">
      <%= f.radio_button :receive_method, :store_pickup, id: "pickup", required: true, class: "form-check-input" %>
      <%= f.label :receive_method_store_pickup, "店頭受け取り", for: "pickup", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :receive_method, :delivery, id: "delivery", required: true, class: "form-check-input" %>
      <%= f.label :receive_method_delivery, "配達", for: "delivery", class: "form-check-label" %>
    </div>
  </div>
</div>