<% if flash[:alert] %>
  <div class="error-messages" style="color: red; margin-bottom: 20px;">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with model: @order, url: confirm_orders_path, method: :post, local: true, data: { turbo: false } do |f| %>

  <%# ====================== %>
  <%# --- ①花の種類の選択 --- %>
  <%# ====================== %>
  <%= render 'step1_flower_types', f: f %>


  <%# ========================= %>
  <%# --- ②サイズの選択エリア --- %>
  <%# ========================= %>
  <%= render 'step2_sizes' %>


  <%# ================== %>
  <%# --- ③詳細の入力 --- %>
  <%# ================== %>
  <%= render 'step3_details', f: f %>


  <%# ========================= %>
  <%# --- ④受け取り方法の選択 --- %>
  <%# ========================= %>
  <%= render 'step4_receive_method', f: f %>


  <%# ============================================== %>
  <%# --- ⑤受け取り希望日（受け取り方法の選択後に表示） --- %>
  <%# ============================================== %>
  <%= render 'step5_receive_date', f: f %>



  <%# ====================== %>
  <%# --- ⑥個人情報の入力 --- %>
  <%# ====================== %>
  <%= render 'step6_guest_info', f: f %>



  <%# ================= %>
  <%# --- 確認ボタン --- %>
  <%# ================= %>
  <%= render "orders/steps/step7_submit_button", f: f %>
<% end %>