<% if flash[:alert] %>
  <div class="error-messages" style="color: red; margin-bottom: 20px;">
    <%= flash[:alert] %>
  </div>
<% end %>

<%# flower_type_idをセッション復元時にJSで使えるようにhiddenで埋め込む %>
<%= hidden_field_tag 'selected_flower_type_id', @order.flower_type_id if @order.flower_type_id.present? %>

<%= form_with model: @order, url: confirm_orders_path, method: :post, local: true, data: { turbo: false } do |f| %>
  <div class="order-confirm-wrapper">
    <div class="order-confirm-brand">jardin_ete</div>
    <div class="order-confirm-title">ご注文内容の入力</div>
    <div class="order-steps-container">
      <%= render 'step1_flower_types', f: f %>
      <%= render 'step4_receive_method', f: f %>
      <%= render 'step5_receive_date', f: f %>
      <%= render 'step2_sizes', f: f %>
      <%= render 'step3_details', f: f %>
      <%= render 'step6_guest_info', f: f %>
      <div class="order-confirm-btns">
        <%= render 'orders/steps/step7_submit_button', f: f %>
      </div>
    </div>
  </div>
<% end %>