<h1><%= @flower_type.name %> の参考画像と価格を編集</h1>

<%= form_with model: [@flower_type, @size], url: admin_flower_type_size_path(@flower_type, @size), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :price, "価格（円）" %><br>
    <%= f.number_field :price, step: 100 %>
  </div>

  <div>
    <%= f.label :image, "参考画像" %><br>
    <% if @size.image.attached? %>
      <p>現在の画像:</p>
      <%= image_tag @size.image.variant(resize_to_limit: [200, 200]) %><br>
    <% end %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

<div style="margin-top: 20px;">
  <%= link_to "この枠を削除する", admin_flower_type_size_path(@flower_type, @size), data: { turbo_method: :delete, confirm: "本当に削除しますか？" } %>
</div>

<%= link_to "戻る", admin_flower_type_path(@flower_type) %>